/*Fichier de style de la page HTML felix.html*/
svg{
    margin-top:100px;
}
div.container{
    position:absolute;
}
div.my_dataviz_div{  
    border: solid 1px;
}
input[type="range"] {
    width:200px;
}
input:checked[type="checkbox"] + label {
    background-color: #6dd65d;
}
p{
    color:#fff;
    font: 1.2em "Fira Sans", sans-serif;
}
table{
    border-radius:10px;
    padding-bottom:10px;
    background-color: #6a8494;
}
th {
    color:#fff;
    font: 1.2em "Fira Sans", sans-serif;
    margin-right:-30px;
    width:500px;
}
label {
    font: 1.2em "Fira Sans", sans-serif;
    display: block;
    position: relative;
    margin-top:-20px;
    margin-left:-10px;
    margin-right:20px;
    margin-bottom:10px;
    padding: 15px 50px 15px 62px;
    border: 3px solid #fff;
    border-radius: 50px;
    color: #fff;
    background-color: #6a8494;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    white-space: nowrap;
    cursor: pointer;
    transition: background-color .2s, box-shadow .2s;
}
label::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 32px;
    border: 3px solid #fff;
    border-radius: 100px;
    transition: background-color .2s;
}
/*
label:first-of-type {
  transform: translateX(-40px);
}

label:last-of-type {
  transform: translateX(40px);
}
*/
label:hover, input:focus + label {
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

input:checked + label {
    background-color: #6dd65d;
}

input:checked + label::before {
    background-color: #fff;
}